/*reset style*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,p,blockquote,th,td,hr,button,section,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,fieldset,video,audio,canvas,legend,em,span,i{margin:0;padding:0;box-sizing:border-box;}

html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-x:auto;font-size:16px;font-size:62.5%;}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-family:"Microsoft YaHei",Arial;font-size:14px;line-height:1.5;background:#fff;color:#333333;margin:0 auto;}
input,select,textarea{font-size:14px;font-size:1.4rem;border-radius:0;-webkit-border-radius:0;outline:none;box-sizing:border-box;/* -webkit-appearance: none;*/vertical-align: top;font-family:sans-serif,Helvetica,”Microsoft YaHei”,Arial;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0;}
img,a img{vertical-align: top;}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:normal;}
ol,ul,nav ol,nav ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h3{font-size:18px;font-size:1.8rem;}
h4{font-size:16px;font-size:1.6rem;}
q:before,q:after{content:’’}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
a{color:#333333;text-decoration:none;outline:none;}
a:link,a:visited,a:hover,a:active{text-decoration:none}
.clearfix:before,
.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.dsn{display:none;}
.fl{float:left;}
.fr{float:right;}

/*header*/
body{background: #fff;}
.header{width:100%;position: fixed;top:0;left: 0;background: #f8f8f8;z-index: 100;max-height:184px;transition: transform .3s ease-in-out,height .3s ease-in-out;}
.header .top-box{max-width: 1200px; min-width: 1200px;margin:0 auto;height: 80px; line-height: 80px;}

.header .top-box .h-logo{width:140px;height: 46px;display: inline-block;vertical-align: middle;}
.header .top-box .h-nav{float: right;display: inline-block; font-size: 18px;color: #333;}
.header .top-box .h-nav li{display: inline-block;}
.header .top-box .h-nav li .s-yuan{border:1px solid #333333; border-radius: 50%; margin:0 5px 0 30px;}
.header .top-box .h-nav li i.i-line{display: inline-block;padding:0 10px;font-size: 16px;}
.header .top-box .h-nav li i.i-icon{display: inline-block;padding:0 4px;font-size: 16px;}
.header .top-box .h-nav li i.ic-line{display: inline-block;padding:0 10px;}
/*鼠标滑过样式*/
/*.header .top-box .h-nav li.cur a:{color:#0299db!important;}*/
.header .top-box .h-nav li.active a{color:#0299db!important;}
.header .top-box .h-nav li a:hover{color:#0299db!important;}
.header .top-box .h-nav li.active i.i-line{color: #333;}
.header .top-box .h-nav li.active i.ic-line{color: #333;}

.product{width: 100%;background: #fff;line-height: 74px;font-size: 18px;color:#666;height:74px; margin-top: 80px;}
.product .p-nav{width: 1200px;margin:0 auto;}
.dsb{height: 74px;transition: transform .3s ease-in-out,height .3s ease-in-out;display: block;}
.product .p-nav li{width:25%; float: left;}
.product .p-nav li a{display: block;width:100%;}
.product .p-nav li a i{display: inline-block;width:30px; height: 30px;background: url(/assets/img/p_s_icons.png) no-repeat;line-height: 30px;vertical-align: middle;margin-right: 8px;}
.product .p-nav li a.li-1{text-align: left;}
.product .p-nav li a.li-2{text-align: center;}
.product .p-nav li a.li-3{text-align: center;}
.product .p-nav li a.li-4{text-align: right;}
.product .p-nav li a.li-1 i{background-position: 0 0;}
.product .p-nav li a.li-2 i{background-position: 0 -40px;}
.product .p-nav li a.li-3 i{background-position: 0 -80px;}
.product .p-nav li a.li-4 i{background-position: 0 -120px;}

.product .p-nav li a:hover{color:#0299db;}
.product .p-nav li a.li-1:hover i{background-position: -30px 0;}
.product .p-nav li a.li-2:hover i{background-position: -30px -40px;}
.product .p-nav li a.li-3:hover i{background-position: -30px -80px;}
.product .p-nav li a.li-4:hover i{background-position: -30px -120px;}

.product .p-nav li.active a{color:#0299db!important;}
.product .p-nav li.active a.li-1 i{background-position: -30px 0;}
.product .p-nav li.active a.li-2 i{background-position: -30px -40px;}
.product .p-nav li.active a.li-3 i{background-position: -30px -80px;}
.product .p-nav li.active a.li-4 i{background-position: -30px -120px;}

.product .p-nav li.p-parent{position: relative;}
.product .p-nav li.p-parent ul.p-child{position: absolute;left:38px;top:58px;width:142px;background: #f2f2f2; text-align: center; padding:16px 8px;z-index: 10;}
.product .p-nav li.p-parent ul.p-child li{width:100%;line-height: 34px;}
.product .p-nav li.p-parent ul.p-child li a{color:#333 !important;}
.product .p-nav li.p-parent ul.p-child li.active a{color:#0299db!important;}

/*footer */
.footer{width:100%;background: #3c3f42;color:#fff;font-size: 14px;}
.footer .ftCon{max-width: 1245px;width:100%;margin:0 auto;position: relative;}
.footer .ftCon .row{
	margin-right: 0px;
    margin-left: 0px;
}
.footer .lt-con,.footer .rt-con{padding-top: 54px;float: left;width:50%;}
.footer .lt-con{max-width: 330px;overflow: hidden;}
.footer .lt-con .f-ermUl li{float: left;}
.footer .rt-con{max-width: 365px;float:right;}
.footer .rt-con .d-con{}
.footer .rt-con p{line-height: 26px;}
.footer .lt-con .f-tit{
	margin-bottom: 10px;
}
.footer .f-tit{font-size: 20px;line-height: 30px;text-align: left;}
.footer .f_center{text-align: center;}
.footer .f-erm{display: block;max-width:130px;margin:auto;}
.footer .f-erm img{
	width: 100%;
}
.footer .f-erm3{display: block;max-width:130px;margin:auto;}
.footer .f-erm3 img{
	width: 100%;
}
.footer .copyRight{width:100%; text-align: center;line-height: 60px; font-size:14px;bottom: 0;}


/* 回到顶部 */
.backToTop {
    display: none;
    width: 44px;
	height:168px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
}

.backToTop a{
	display: block;
	background: url(../assets/img/top.png);
	height:37px; 
	width:43px;
	margin-top: 7px;
}
.backToTop a.bds_top{
	background-position: -2px -3px;
}
.backToTop a.bds_top:hover{
	background-position: -58px -3px;
}
.backToTop a.bds_advisory{
	background-position: -2px -45px;
}
.backToTop a.bds_advisory:hover{
	background-position: -58px -45px;
}
.backToTop a.bds_wechat{
	background-position: -2px -88px;
}
.backToTop a.bds_wechat:hover{
	background-position: -58px -88px;
}
.backToTop a.bds_tqq{
	background-position: -2px -132px;
}
.backToTop a.bds_tqq:hover{
	background-position: -58px -132px;
}

.QRcode1{
	position: absolute;
	right:70px;
	bottom:20px;
	height: 100px;
	width:100px;
	display: none;
}
.QRcode1.wechat1{
	display: block;
	background: url(../assets/img/weixin.png);
}

.QRcode1.QQcode{
	display: block;
	background: url(../assets/img/qqCode.png);
}

/*弹框*/
#bombBox{
	height: 100%;
	width: 100%;
	position: fixed;
	background:rgba(0, 0, 0, 0.6)!important;
	top: 0;
	left:0;
	z-index:9999;
}
#bombBox .bombBox{
	position: absolute;
	width: 500px;
	padding:40px 0;
	top:50%;
	left:50%;
	margin-top: -123px;
	margin-left: -250px;
	background: #fff;
  	box-shadow: 1.5px 2.598px 16px 0px rgb( 0, 0, 0 );
  	border-radius: 8px;
  	text-align: center;
}

#bombBox .bombBox h1{
	font-size: 24px;
	color: #0299db;
	margin-bottom: 15px;
}
#bombBox .bombBox h1 i{
	height: 50px;
	width: 50px;
	margin-right: 24px;
	vertical-align: middle;
	display: inline-block;
}
#bombBox .bombBox p{
	line-height: 30px;
	font-size: 14px;
	color: #383838
}

#bombBox .bombBox p a{
	color: #0299db;
}

#noticeBox{height: 100%;width: 100%;position: fixed;background:rgba(0, 0, 0, 0.6)!important;top: 0;left:0;z-index:9999;}
#noticeBox .conBox{height: auto;width:580px;padding:20px;background: #fff;box-shadow: 1.5px 2.598px 16px 0px rgb( 0, 0, 0 );position: absolute;
      border-radius: 8px;margin:0 auto;left:50%;margin-left: -290px;top:80px;}
#noticeBox .conBox h2{font-size: 20px;color:#1a1a1a;border-bottom: 1px solid #ccc; padding-bottom: 15px;margin-bottom: 20px;}
#noticeBox .conBox h2 i{display: inline-block;background: url(../img/guanbi.png) no-repeat center center;width:12px;height: 12px;margin-top: 8px;}
#noticeBox .conBox h3{color: #383838;font-size: 14px;line-height: 18px;font-weight: bold;}
#noticeBox .conBox .u-ptbs{padding: 20px 0;}
#noticeBox .conBox .u-ptbs p{font-size: 12px;color: #383838;line-height: 18px;text-align: justify;text-justify: inter-ideograph;}


